
p
.ui.segment
	.ui.form
		h4.ui.dividing.header Use PlugIn
		.field
			label PlugIn
			input(type='text', name='plugin', placeholder='plugin')
		.field
			label Page
			input(type='text', name='folder', placeholder='page')

		.ui.message.hidden
		button.ui.button(type='submit') PlugIn


	script.
		loadjs.ready('site', function () {
			console.log('page 1 script here')
		})

