
p
.ui.container

	h2 Recently Shared:

	#pgs
		items-tag
p
p

script.
	loadjs.ready('core', function() { // wait for fetch to be loaded
		fetch('items.json').then(function(resp) {
			return resp.json()
		}).then(function(obj) {
			feed = obj //data
			loadjs.done('items')
		})
	})// fetch data

	// loaded lib and got data
	loadjs.ready(['tag','items'], function() {
		console.log('dbind')

		let itemsTag = riot.mount('items-tag')[0] // the first tag

		$('#pgs').pagination({
			dataSource: feed.items,
			pageSize: 3,
			showPageNumbers: false,
			showNavigator: true,

			callback: function(data, pagination) {
				itemsTag.renderItems(data)
			}//cb
		})
	})//ready

	loadjs.ready('site', function() {
		loadjs([
			'//cdn.jsdelivr.net/npm/moment@2.22.0/min/moment.min.js'
		, 'items-tag.js'
		, '//cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js'
		, '//cdn.jsdelivr.net/npm/paginationjs@2.1.2/dist/pagination.min.js'
		, '//cdn.jsdelivr.net/npm/paginationjs@2.1.2/dist/pagination.css'
		],'tag', {
			async: false
		})//load js
	})//ready
