items-tag
	<virtual each={ items}>

		a(href= '{ local_url}', target='_blank')
			.ui.card
				image
					img(src= '{ image}' , width='160')
				.content
					.header { title}
					.meta { author}
					.description { content_text}
		p
	</virtual>
	p
	p

	script.
		console.log('items tag')
		this.items = []

		 renderItems(args) { //called by page on new data
			console.log('first row '+ JSON.stringify(args[0]))
			this.items = args
			this.update()
		}

