
p
div
	.ui.form
		h4.ui.dividing.header NBake Items
		.field
			label Folder
			input(type='text', name='folder', placeholder='blog')
		#msgNB.ui.message.hidden

		button.ui.button(type='submit') Items


	script.
		loadjs.ready('site', function () {
			console.log('page 1 script here')
		})

