extends /plugin/_layout
//- App Shell

block head
	//static binding ex:
	title #{title}

block main
	p
	br
	p
	.ui.text.container
		include nbake
		include i
		include newBlog
		include plugIn
		include clone

	script.
		loadjs.ready('site', function () {
			console.log('page 1 script here')
		})

