extends /plugin/_layout
//- App Shell

block head
	//static binding ex:
	title #{title}

block main
	p
	br
	p
	.ui.text.container
		#Pform.ui.form
			h4.ui.dividing.header Secret
			.field
				label Folder
				input(type='text', name='secret', placeholder='123')
		p
		include nbake
		include i
		include newBlog
		include plugIn
		include clone

	script.
		loadjs.ready('site', function () {
			console.log('page 1 script here')
		})

