extends /plugin/_layout
//- App Shell

block head
	title #{title}

block main
	p
	br
	p
	#here
	
	include part2.pug

	script.
		loadjs('pinc_d.js', 'template', {async: false})
		
		loadjs.ready(['site','template'], function () {
			console.log('page 2')
			var data = {
				'myNum': Math.floor(Math.random() * 20)
			}

			// dynamic pug binding example
			//- Render the pinc_p.js template with data
			//- Naming convention:  pinc_p.js -> pincPTemplate
			$('#here').html(pincDBind(data))
		})