
//side
.ui.fixed.vertical.inverted.sidebar.menu
	a.active.item(href='/form')
		i.left.icon.star
		| Form
	a.item(href='/up')
		i.left.icon.book
		| Upload

//top
.ui.fixed.inverted.menu
	.ui.container
		a.toc.item
			i.sidebar.icon
		.item nbake Admin 3

		a.item(href='/form') Form
		a.item(href='/up') Upload
	.right.menu
		a.item(href='http://github.com/topseed') Git

style.
	* {
		letter-spacing: .05em !important;
	}

	.ui.menu {
		height: 1.5em !important;
	}

	.pusher {
		margin-top: 1.5em;
	}

	@media only screen and (min-width: 1281px) {
		.toc.item {
			display: none !important;
		}
	}
